#customCursor{
    z-index: 10000;
    height:15px;
    width:15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    left:0;
    top:0;
    display: grid;
    place-items: center;


    pointer-events: none;
    /*opacity: 0;*/
    transition: opacity 250ms ease, transform 100ms ease-out;
}




.a:hover > #customCursor {
    opacity:0;
}

